%li.control-group.nested-fields
	.controls
		= f.association :certification, label_method: :cert_name, value_method: :id, label: false, include_blank: false, collection: Certification.order('cert_name')
		= f.input :cert_year, label: false
		= link_to_remove_association "remove", f
