%li.control-group.nested-fields
	.controls
		= f.association :certification, label_method: :cert_name, value_method: :id, include_blank: false
		= f.input :cert_year, inline_label: 'Certification Year'
		= link_to_remove_association "remove", f
