%li.control-group.nested-fields
	.controls
		%table
			%thead
				%tr
					%th Workout
					%th Rating
					%th 
					%th{:colspan =>3}
			%tbody
				%tr
					%td= f.association :workout, label_method: :workout_name, value_method: :id, include_blank: false, label: false
					%td= f.input :rating, collection: 1..5, label: false
					%td= link_to_remove_association "remove", f
