%li.control-group.nested-fields
	.controls
		= f.association :location_type, label_method: :type_name, value_method: :id, include_blank: false
		= f.fields_for :location do |profile_location_location|
			=profile_location_location.text_field :address_1, label: 'Address 1'
			=profile_location_location.text_field :address_2
			=profile_location_location.text_field :city
			=profile_location_location.text_field :state
			=profile_location_location.text_field :zip
		= link_to_remove_association "remove", f
