.wrapper_with_padding
	%h2 Take a look at trainers in your area now	
	%table.table.table-responsive.table-hover
		%thead
			%tr
				%th 
				%th Username
				%th Gender
				%th DOB
				%th View
				%th Average Rating
				%th{:colspan => "5"}
		%tbody
			- @profiles.each_with_index do |profile, i|
				%tr
					%td
						%img.img-responsive.img-rounded{alt: "Profile Avatar", src: profile.avatar.url(:thumb)}/
					%td= profile.username		
					%td= profile.gender.gender		
					%td= profile.dob		
					%td= link_to 'View', profile_path(profile.id)
					%td{class: "star-rating", dscore: @avg_reviews[i] }

:javascript
		$('.star-rating').raty({
				path: '/assets/',
				readOnly: true,
				score: function() {
						return $(this).attr('dscore');
				}
		}); 

:javascript
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-77303912-1', 'auto');
	ga('send', 'pageview');