<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @profile_workout.rating %>
</p>

<%= link_to 'Edit', edit_profile_workout_path(@profile_workout) %> |
<%= link_to 'Back', profile_workouts_path %>
