%img{alt: "Fitchike", src: "http://fitchike.herokuapp.com/assets/fitchlogo-71373796b9a80e0cf92089deee92414e5a33adcd09f89dc39bbed4d55788a67c.png"}/
%br/
%h1 You've just created a new appointment available on Fitchike!
%br/
= @profile.username
, you have created an appointment available on Fitchike.

%p Once the appointment is booked up, please make sure that you close the appointment.
%br
%br
You can login and Check out your profile here...
%br
= link_to "View Your Profile", @profile
%br
%br/
%p We will send a request one the appointment is confirmed to release the funds for the appointment.

http://www.fitchike.com

%a{:href => "http://www.fitchike.com/"} Fitchike

Check us out on Facebook and Twitter!

