Hi, 
= @profile.username
%br/
Thanks for signing up!
%br/
Can't wait for you to get started working out together.  
%br
%br
Check out your profile here...
%br
= link_to "View Appointments", @profile
%br
%br/
http://www.fitchike.com
