%img{alt: "Fitchike", src: "http://fitchike.herokuapp.com/assets/fitchlogo-71373796b9a80e0cf92089deee92414e5a33adcd09f89dc39bbed4d55788a67c.png"}/
%br/
%h1 Thanks for signing up!
%br/
= @profile.user.username
, you've just taken a great first step to a whole new world of fitness opportunities that are now available to you as a member of the Fitchike community!

%p We can't wait for you to get started working out with our wide array of trainers and other users in the community.  We want to make it super easy to use Fitchike to find workout partners and get connected to people who share your philosophy of getting fit the right way.  We are still in our beta testing phase, so please bear with us as we try to make the product that much better every day.  If you have recommendations for us, please drop us a line and tell us how we can do better.
%br
%br
You can login and Check out your profile here...
%br
= link_to "View Your Profile", @profile
%br
%br/
%p If you have signed up to be a trainer, make sure that you post up appointment opportunities to find new clients right away.  Make sure that you include you location as well where you are offering services so that you are seen by clients in your area.

http://www.fitchike.com

%a{:href => "http://www.fitchike.com/"} Fitchike

Check us out on Facebook and Twitter!

