Hi, 
= @profile.username
%br/
%h1 Thanks for signing up!
%br/
%p Can't wait for you to get started working out together.  Remeber how easy it is to use Fitchike to find workout partners and get connected to people who share your philosophy of getting fit the right way
%br
%br
You can login and Check out your profile here...
%br
= link_to "View Appointments", @profile
%br
%br/
%p If you have signed up to be a trainer, make sure that you post up appointment opportunities to find new clients right away.  Make sure that you include you location as well where you are offering services so that you are seen by clients in your area.

http://www.fitchike.com
