<%= @profile.username %>

Thanks for signing up!

= @profile.user.username
, you've just taken a great first step to a whole new world of fitness opportunities that are now available to you as a member of the Fitchike community!

We can't wait for you to get started working out with our wide array of trainers and other members of the Fitchike community.  Remember how easy it is to use Fitchike to find workout partners and get connected to people who share your philosophy of getting fit the right way
%br
%br
You can login and Check out your profile here...
%br
= link_to "View Your Profile", @profile
%br
%br/
%p If you have signed up to be a trainer, make sure that you post up appointment opportunities to find new clients right away.  Make sure that you include you location as well where you are offering services so that you are seen by clients in your area.

http://www.fitchike.com