<p id="notice"><%= notice %></p>

<p>
  <strong>Cert Year:</strong>
  <%= @profile_certification.cert_year %>
</p>

<%= link_to 'Edit', edit_profile_certification_path(@profile_certification) %> |
<%= link_to 'Back', profile_certifications_path %>
