#banner
	.banner_content
		= link_to image_tag('fitchlogo_center.png'), profiles_path, id: "logo"
		%br/
		%br/
		%tag On demand fitness on YOUR terms...
		%br/
		%br/
		%br/
		= link_to "Get Started Now", new_user_registration_path, class: "button"
		%br/
		%br/
		%a=link_to "already a member?", new_user_session_path
		%br/


#testimonial
	.wrapper
		%p.quote "It's so awesome to get a chance to switch up my trainers and trying out new stuff.  Love it!"
		%p.name - Marcus A.

#callouts
	.callout_inner
		.wrapper
			.callout
				%i.fa.fa-users
				%h2 Choice
				%p We work with trainers who specialize in everything from free weights and  interval training to yoga and pilates and everything in between.  Find someone that works for you to help keep you motivated and you have the freedom to mix it up whenever you want. 
			.callout
				%i.fa.fa-trophy          
				%h2 Expertise
				%p All of our certified experts have a minimum of 5 years working in the health and fitness industry and you will be sure to get top notch talents.  Make sure that you review your trainers to make sure the community knows how awesome they really are.
			.callout
				%i.fa.fa-money
				%h2 High Value
				%p Don't get stuck into long term committments with traditional personal training sessions just to end up not going!  Our model lets you find new trainers all the time and only pay for appointments you book.  Use us as much or as little as you need to.
#bottom_cta
	.wrapper
		%h2 Why are you not already signed up?  
		%br/
		%p Just take a look and we bet that you'll find what you're looking for.  
		%p Check out available appointments now.
		%br/
		= link_to "View Our Trainers", profiles_path, class: "button"

