#banner
	.banner_content
		%h1 Fitchike
		%p Hitch a ride with us to fitness
		%button= link_to "Catch A Ride", new_user_registration_path

#testimonial
	.wrapper
		%p.quote "Finally a reason to go to the gym without the hassle of a membership!"
		%p.name - Gina Aleuso

#callouts
	.callout_inner
		.wrapper
			.callout
				%i.fa.fa-pencil
				%h2 Engage
				%p Tilde master cleanse Pinterest, mustache bitters literally distillery Vice small batch Godard. Tote bag shabby chic authentic aesthetic quinoa tattooed. Organic sriracha polaroid dreamcatcher, jean shorts bicycle rights banjo skateboard DIY fap brunch fingerstache Tumblr. PBR swag ugh four loko.
			.callout
				%i.fa.fa-rocket          
				%h2 Connect
				%p Gastropub meh church-key Brooklyn, wayfarers keffiyeh letterpress XOXO aesthetic vegan farm-to-table mixtape vinyl hella. Scenester cardigan vegan fingerstache keytar. Flexitarian tote bag normcore church-key freegan jean shorts Helvetica.
			.callout
				%i.fa.fa-bolt
				%h2 Excel
				%p Williamsburg Schlitz Carles deep v brunch. Health goth tilde Shoreditch, VHS single-origin coffee pop-up messenger bag Brooklyn Godard four dollar toast squid iPhone pour-over stumptown mixtape. Twee sriracha actually, tattooed Intelligentsia street art Thundercats Marfa wolf chia flannel Kickstarter.
#bottom_cta
	.wrapper
		%h2 Why are you not already signed up?  
		%p Get your free trial now and we'll pay for your first vist with no committment
		%button= link_to "Get Started", new_user_registration_path

%footer
	%p &copy; LeftySeth Designs 2016