#banner
	.banner_content
		= link_to image_tag('fitchlogo_center.png'), profiles_path, id: "logo"
		%br/
		%br/
		%tag Presonalize your fitness
		%br/
		%br/
		%br/
		.col-md-4.col-md-offset-4
			= link_to "Signup Now", new_user_registration_path, class: "button"
			%h2 BETA MODE

#testimonial
	.wrapper
		%p.quote "It's so awesome to get a chance to switch up my trainers and trying out new stuff.  Love it!"
		%p.name - Marcus A.

#callouts
	.wrapper
		.row
			.col-md-4
				%i.fa.fa-users
				%h2 Choice
				%p Find a Fitchike trainer that specialize in anything from free weights and interval training to yoga and pilates or anything in between.  Find a trainer that is tailored for your current workout routines to help keep you motivated and remember that you always have the freedom to mix it up whenever you want. 

			.col-md-4
				%i.fa.fa-trophy
				%h2 Experience
				%p All of our certified experts have a minimum of 5 years working in the health and fitness industry and you will be sure to get top notch talents.  Make sure that you review your trainers to make sure the community knows how awesome they really are.

			.col-md-4
				%i.fa.fa-money
				%h2 Value
				%p Don't get stuck into long term committments with traditional personal training sessions just to end up not going!  Our model lets you find new trainers all the time and only pay for appointments you book.  Use us as much or as little as you need to.
				
#bottom_cta
	.wrapper
		%h2 Why are you not already signed up?  
		%br/
		%p You can checkout workout offerings in your area whenever you need to, and there is never any cost or committment to use us.  Fitchike helps connect people looking for new ways to stay fit with those who want to help!
		%p Simply create an account to take a look at training offerings in your area today!
		%br/
		.col-md-4.col-md-offset-4
			= link_to "View Our Trainers", profiles_path, class: "button"
		%br/

%h2 FITCHIKE IS STILL IN BETA TESTING... 
%h2 SO PLEASE LET US KNOW YOUR THOUGHTS

:javascript
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-77303912-1', 'auto');
	ga('send', 'pageview');
