#about
	.wrapper
		%h2 Terms Of Use
		%br/
		%p Terms to be defined
		%br/
		%p We believe that you should have the ability to find the perfect training partner for yourself in realtime.  Whether that be a personal yoga lesson, tips on weight training or just someone to help keep your form just perfect.  Depending on your specific needs you can pick from licensed instructors, local fitness professionals, or simple enthusiasts who might have tips and tricks to get you to the next level of fitness.
