.wrapper_with_padding	
	#trainers
		%h2 FOR TRAINERS
		%p 
		Trainers are the backbone of Fitchike and the reason that we are successful.  Bringing together a massive arrangement of trainers from different backgrounds, influences and capabilities offers a program that is unmatched in the current market.
		%br/
		%p 
		Fitchike is launching live in the Summer of 2016 in San Diego as a tool for trainers and fitness enthusiast to connect with people seeking their services.  For trainers, its as simple as creating a profile and identifying the types of workouts you are available for and then creating available appointment slots.  It takes no more than 5 minutes to get started...
		%br/
		%ol
			%li Create a profile to tell people about yourself
			%li Select the locations available so we can target your audience
			%li Choose your workouts like yoga, freeweights, interval training, etc.
			%li Create your first appointment and wait for us to bring in clients!
		%br/
		%br/
		%p Then let Fitchike do the work to grab in users and get them signed up for your classes.  You can make the training available in your home, with your clients, or at a local fitness center.
		%br/
		.col-md-4.col-md-offset-4
			= link_to "Get Started Now", new_user_registration_path, class: "button"
		%br/

:javascript
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-77303912-1', 'auto');
	ga('send', 'pageview');
