.wrapper_with_padding	
	#trainers
		%h2 FOR TRAINERS
		%p 
		Trainers are the backbone of Fitchike and the reason that we are successful.  Bringing together a massive arrangement of trainers from different backgrounds, influences and capabilities offers a program that is unmatched in the current market.
		%br/
		%p 
		Echo park distillery YOLO pickled. Beard kinfolk you probably haven't heard of them cronut, cornhole XOXO pork belly. Fanny pack occupy blog, pickled skateboard man bun mixtape lomo letterpress sustainable trust fund try-hard. Occupy beard godard knausgaard literally, locavore keytar photo booth. 90's health goth salvia keffiyeh. 90's ugh single-origin coffee selfies. Ramps humblebrag aesthetic, thundercats asymmetrical crucifix street art sriracha slow-carb chia.
		%br/
		%br/
		%br/
		.col-md-4.col-md-offset-4
			= link_to "Get Started Now", new_user_registration_path, class: "button"
		%br/

