.wrapper_with_padding
	#clients
		%h2 FOR CLIENTS
		%p 
		Fitchike is a revolutionary way to get access to world class training opportunities.  Why would you want to limit yourself to just trainers that are employed by your gym.  You should be free to get access to freelance trainers, gym trainers and just experts in specific areas of fitness.  We here at Fitchike believe that it should be in your control.

		%p Getting started with Fitchike is as easy as creatng a quick profile and taking a look at trainers in your area.
		%br/
		%ol
			%li Create a user profile to get your user account
			%li Search for trainers in your area
			%li Book your first appointment!
		%br/
		%br/
		%p Fitchike handles all of the financial transactions securely through our partnership with Stripe so you never need to share your personal information with your trainers.  We handle all the transactions securely so you don't need to worry about your information getting out there.
		%p There is never a committment to any of your trainers outside of the appointment booked.  You are free to shuffle around trainers or use us as frequently or infrequently as you need to.
		%br/
		.col-md-4.col-md-offset-4
			= link_to "Get Started Now", new_user_registration_path, class: "button"
		%br/

