.wrapper_with_padding
	#users
		%h2 FOR USERS
		%p 
		Echo park distillery YOLO pickled. Beard kinfolk you probably haven't heard of them cronut, cornhole XOXO pork belly. Fanny pack occupy blog, pickled skateboard man bun mixtape lomo letterpress sustainable trust fund try-hard. Occupy beard godard knausgaard literally, locavore keytar photo booth. 90's health goth salvia keffiyeh. 90's ugh single-origin coffee selfies. Ramps humblebrag aesthetic, thundercats asymmetrical crucifix street art sriracha slow-carb chia.

		Readymade blog leggings, yuccie fingerstache pitchfork YOLO chillwave shabby chic meh squid. Squid leggings hammock letterpress XOXO selfies marfa. Banh mi irony plaid paleo, 90's kombucha biodiesel wayfarers pitchfork. YOLO tattooed small batch, literally portland cliche cornhole kickstarter shabby chic deep v vice. Selfies you probably haven't heard of them food truck offal etsy chia. Lomo lo-fi cardigan fashion axe. +1 semiotics vinyl, helvetica heirloom VHS messenger bag you probably haven't heard of them PBR&B microdosing gastropub mlkshk meh.
		%br/
		%br/
		%br/
		.col-md-4.col-md-offset-4
			= link_to "Get Started Now", new_user_registration_path, class: "button"
		%br/
