<p id="notice"><%= notice %></p>

<p>
  <strong>Type name:</strong>
  <%= @workout_type.type_name %>
</p>

<%= link_to 'Edit', edit_workout_type_path(@workout_type) %> |
<%= link_to 'Back', workout_types_path %>
