<p id="notice"><%= notice %></p>

<p>
  <strong>Appointment length:</strong>
  <%= @length.appointment_length %>
</p>

<%= link_to 'Edit', edit_length_path(@length) %> |
<%= link_to 'Back', lengths_path %>
