$dark_gray: #2B2E2E;
$light_gray: #C0C1C1;
$blue: #0B5BAE;
$red: #B11322;

@mixin bold_font {
	font-family: "Brandon Grotesque","Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

h2 {
	@include bold_font;
	font-size: 24px;
	margin: 0;
  text-align: center;
	padding: 5px 5px;
	color: $blue;
}

#appointments {
  margin: 0 auto;
  width: 100%;
  .box {
	  background: $light_gray;
	  margin: 10px;
	  width: 350px;
	  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.22);
	  border-radius: 7px;
	  text-align: center;
	  .panel-body {
	 	  padding: 10px; 
	 	  text-align: left;
	  }
	  img {
	 	  padding-left: 5px; 
	 		padding-right: 5px;
	  	width: 100%;
	  	height: auto;
	  }
	  h2 {
	  	@include bold_font;
	  	font-size: 14px;
	  	margin: 0;
		  text-align: center;
	  	padding: 5px 5px;
	  	color: #474747;
	  	a {
				color: #474747;
	  	}
	  }
	  .user {
	  	@include bold_font;
	  	font-size: 14px;
	  	color: $blue;
			padding: 10px;
			margin: 0;
	  }
	  .price {
	  	font-size: 18px;
	  	color: $blue;
			padding: 3px;
			margin: 0;
	  }
	  .map {
	  	border-radius: 25px;
			padding: 1px;
			margin: 0;
	  }
	}
}

#appointment_show {
	background: $light_gray;
	border-radius: 5px;
	padding: 2em 8%;
}