$dark_gray: #2B2E2E;
$light_gray: #C0C1C1;
$blue: #0B5BAE;
$red: #B11322;

@mixin bold_font {
	font-family: "Brandon Grotesque","Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

#appointments {
	.appointment {
		background: $dark_gray;
		width: 30%;
		min-height: 150px;
		margin: 1rem 1%;
		padding: 1.5rem 2.5%;
		float: left;
		border-radius: .4rem;
		position: relative;
		.title {
			@include bold_font;
			color: white;
			margin: 0;
			letter-spacing: 1px;
		}
		.price {
			color: white;
			margin: 0;
			letter-spacing: 1px;
		}
		.date {
			position: absolute;
			bottom: .25rem;
			left: 8.5%;
			color: $blue;
			font-size: 1.15rem;
		}
	}
}

#appointment_show {
	background: $light_gray;
	border-radius: 5px;
	padding: 2em 8%;
}