= simple_form_for @appointment do |f|
	.col-md-8
		=f.input :title, input_html: { maxlength: 20 }
		=f.input :comments
	.col-md-4
		=f.input :date, :label => "Available Until"
		=f.input :price
		=f.association :length, label_method: :appointment_length, value_method: :id, include_blank: false, :input_html => {:class => "input-small"}, :label => "Appointment Length"
		=f.association :profile, :as => :collection_select, collection: Profile.where( user_id: current_user ), label_method: :username, value_method: :id, include_blank: false, :input_html => {:class => "input-small"}, :label => "Select Your Profile"
		=f.association :location, label_method: :address_1, value_method: :id, include_blank: false, :input_html => {:class => "input-small"}, :label => "Select The Location"
		=f.input :active
	=f.button :submit, class: "button"


