.wrapper_with_padding
	#appointments.clearfix
		- unless @appointments.blank?
			- @appointments.each do |appointment|
				%a{ href: (url_for [appointment])}
					.appointment 
						.table-responsive
							%table.table
								%tbody
									%tr
										%td
											= image_tag appointment.profile.avatar.url(:thumb)
										%td
											%p.title= appointment.title
											%p.date= time_ago_in_words(appointment.created_at)
		- else 
			%h2 Request an appointment now
			%p Sorry, but all our appointments are totally booked up right now.
