.wrapper_with_padding
	%h2 Select an available appointment now to get started	
	#appointments.transitions-enabled
		- unless @appointments.blank?
			- @appointments.each do |appointment|
				%a{ href: (url_for [appointment])}
					.box.panel.panel-default
						.panel-heading
							%p= appointment.title
						.panel-body
							.table-responsive
								%table.table
									.col-md-5
										= image_tag appointment.profile.avatar.url(:medium)
									.col-md-7
										%strong User:
										%user= appointment.profile.username
										%b
										%strong Price:
										%price= number_to_currency(appointment.price, unit:"$")

				
							
		- else 
			%p Sorry, but all our appointments are totally booked up right now.

:javascript
		$('.star-rating').raty({
				path: '/assets/',
				readOnly: true,
				score: function() {
						return $(this).attr('dscore');
				}
		}); 
