.wrapper_with_padding
	#appointments.clearfix
		- unless @appointments.blank?
			- @appointments.each do |appointment|
				%a{ href: (url_for [appointment])}
					.appointment 
						%p.title= appointment.title
						%p.date= time_ago_in_words(appointment.created_at)
		- else 
			%h2 Request an appointment now
			%p It appears you are not cool

	%br/
	%button= link_to "New Appointment Request", new_appointment_path
